* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  font-family: "Inter", sans-serif;
  height: 94vh;
  background-image: url("../../public/home-background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%;
}

.hero-content {
  color: white;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-content button {
  padding: 1.2rem 3.6rem;
  background-color: #d94141;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-content button:hover {
  background-color: #b83131;
}
